.appointment {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.slots-info {
    width: 95%;
}

.day-info {
    margin: 30px;
}


.date-day {
    background-color: rgb(223, 219, 219);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.slots {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.slot {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #0a77cf;
    font-size: 18px;
    color: white;
    text-decoration: none;
}