/* Header */

header {
    position: sticky;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: rgb(17, 161, 161);
    z-index: 999;
}

.container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    word-spacing: 10px;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 0px 20px;
    padding: 10px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul li a {
    font-weight: 1000;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    align-self: center;
}

.line {
    margin-top: 10px;
    height: 3px;
    width: 0px;
    background-color: white;
    transition: width 0.5s ease-in;
    border-radius: 10px;
}

nav ul li a:hover+.line,
nav ul a:focus+.line,
nav ul li a:active+.line {
    width: 100%;
}

nav ul li a:hover {
    color: white;
}

/* Utility Classes */

.container {
    width: 90%;
    margin: 0px auto;
}

/* media queries */

@media (max-width: 825px) {
    /* header */

    header {
        height: auto;
        position: unset;
        background-color: black;
    }

    .container-header {
        width: 100%;
        flex-direction: column;
        background-color: rgb(18, 66, 66);
    }

    .logo {
        position: fixed;
        height: 45px;
        width: 100%;
        top: 0px;
        margin: auto;
        background-color: rgb(17, 161, 161);
        text-align: center;
    }

    nav {
        width: 50%;
        margin-top: 50px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        margin: 5px 0px;
        border: 1px solid white;
        padding: unset;
        border-radius: 3px;
        background-color: rgb(43, 112, 112);
        text-align: center;
    }

    nav ul li a {
        box-sizing: border-box;
        padding: 3px;
        width: 100%;
        color: white;
    }

    nav ul li a:hover {
        background-color: rgb(39, 131, 131);
    }

    *:hover+.line,
    .line {
        display: none;
    }
}