.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 190, 190);
}

.login-form {
    background-color: white;
    border-radius: 5px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 25px;
    padding: 5px;
    height: 35px;
    width: 300px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: rgb(228, 233, 238);
}

.submit {
    background-color: rgb(62, 165, 165);
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 1000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}