:root {
    --light_blue: rgb(125, 190, 190);
    --dark_blue: rgb(62, 165, 165);
    --solid_blue: rgb(38, 126, 126);
}

/* Header */

header {
    position: sticky;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: var(--dark_blue);
    z-index: 2;
    box-shadow: 0 2px 10px black;
}

.container-header {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    word-spacing: 10px;
    color: white;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0px 20px;
    /* box-sizing: border-box; */
    margin: 0px 20px;
    padding: 10px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul li .link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.line {
    margin-top: 10px;
    height: 3px;
    width: 0px;
    background-color: white;
    transition: width 0.5s ease-in;
    border-radius: 10px;
}

nav ul li .link:hover + .line,
nav ul .link:focus + .line,
nav ul li .link:active + .line {
    width: 100%;
}

.user {
    height: 100%;
    display: flex;
    align-items: center;
}

.logged-in {
    background-color: black;
    border-radius: 8px;
    padding: 10px 15px;
}

.drop-down {
    display: none;
    position: absolute;
    margin-top: 5px;
    top: 100%;
    right: 0;
    z-index: 3;
}

.account-icon {
    font-size: 30px;
}

.drop-down Link {
    text-decoration: none;
    color: black;
}

.logged-in:focus + .drop-down,
.drop-down:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-item {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    width: 200px;
    background: linear-gradient(rgb(131, 180, 199), rgb(36, 116, 82));
}

/* Utility Classes */

.container {
    width: 90%;
    margin: 0px auto;
}

/* media queries */

@media (max-width: 959px) {
    /* header */

    header {
        height: auto;
        position: relative;
        background-color: black;
        z-index: 2;
    }

    .container-header {
        width: 100%;
        flex-direction: column;
        background-color: var(--dark_blue);
    }

    .drop-down {
        right: 35%;
        left: 35%;
    }

    .logo {
        position: fixed;
        height: 45px;
        width: 100%;
        top: 0px;
        margin: auto;
        background-color: var(--dark_blue);
        text-align: center;
        box-shadow: 0 2px 10px black;
        z-index: 4;
    }

    nav {
        width: 50%;
        margin-top: 45px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        margin: 5px 0px;
        border: 1px solid white;
        padding: unset;
        border-radius: 3px;
        background-color: var(--solid_blue);
        text-align: center;
    }

    nav ul li:hover {
        background-color: black;
    }

    nav ul ul {
        width: 100%;
    }

    nav ul li .link {
        /* box-sizing: border-box; */
        padding: 3px;
        width: 100%;
        color: white;
    }

    nav ul li .link:hover {
        /* background-color: black; */
        color: white;
    }

    *:hover + .line,
    .line {
        display: none;
    }
}

/* main image  */

.main-image {
    position: relative;
}

.main-image img {
    width: 100%;
}

.img-btn {
    position: absolute;
    top: 65%;
    font-size: 1.5vw;
    right: 27%;
    padding: 1vw 1.2vw;
    text-decoration: none;
    background-color: var(--solid_blue);
    border-radius: 0.7vw;
    color: white;
    cursor: pointer;
}

/* Login / SignUp */

.account {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 190, 190);
}

.account-form {
    margin: 15px auto;
    background-color: white;
    border-radius: 5px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form div {
    width: 100%;
}

.input {
    margin-top: 15px;
    padding: 5px;
    height: 35px;
    min-width: 350px;
    width: 100%;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: rgb(228, 233, 238);
}

.submit {
    margin-top: 20px;
    background-color: rgb(62, 165, 165);
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 1000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
}

/* main page */
.main-page {
    width: 100%;
}

/* Categories */

.heading-font {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    word-spacing: 5px;
}

.container_cat {
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid rgba(153, 149, 149, 0.13); */
}

.container-cat {
    justify-content: space-evenly;
    /* padding: 40px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 16px;
}

.cat {
    text-decoration: none;
    color: black;
    box-shadow: 3px 2px 15px black;
    padding: 8px;
    margin: 10px;
    border-radius: 0.5em;
    text-align: center;
    font-size: large;
}

.cat:hover {
    box-shadow: 1px 1px 5px black;
}

.cat img {
    margin: 5px;
    height: 120px;
    width: 170px;
}

.Link {
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* Footer  */

footer {
    width: 100%;
    background: var(--dark_blue);
}

footer .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
footer .content a {
    color: white;
    text-align: left;
    line-height: 32px;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
    text-decoration: none;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0 10px 10px 10px;
    transition: all 0.3s ease;
}

footer .content .media-icons a:hover {
    border-color: black;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: black;
}

@media (max-width: 1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width: 950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width: 560px) {
    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }

    footer .content .media-icons a {
        margin: 10px 10px 10px 10px;
    }
}

/* appointment */

.appointment {
    display: flex;
    flex-direction: column;
}

/* docotr's informationa */

.doctor-info {
    margin: 15px;
    width: 80%;
    background-color: rgb(224, 218, 218);
    border-radius: 10px;
    align-self: center;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.doctor-name {
    text-align: center;
    color: rgb(29, 73, 66);
    margin: 10px;
}

.doctor-attribute {
    margin: 15px;
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.doctor-attribute-key {
    color: rgb(19, 83, 73);
}

.doctor-attribute span {
    margin: 0 5px;
}

/* slots information */

.loading {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.slots-info {
    width: 95%;
}

.colour-sign {
    margin-left: 20px;
    display: flex;
}

.colour-sign p {
    margin: 10px 30px 10px 5px;
}

.day-info {
    margin: 30px;
}

.date-day {
    background-color: rgb(223, 219, 219);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.slots {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.available {
    background-color: var(--solid_blue);
    cursor: pointer;
}

.unavailable {
    background-color: var(--light_blue);
}

.slot {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.sign {
    height: 25px;
}

.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: rgb(128, 125, 125, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 10px 20px;
    min-width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-message {
    margin-bottom: 10px;
}

.close-modal {
    align-self: flex-end;
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

.close-modal:hover {
    color: black;
    cursor: pointer;
}

/* Page not found */

.no-page {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* my bookings */

.bookings-heading {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(209, 209, 209);
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.bookings,
.no-data {
    margin: auto;
    width: 90%;
    background-color: var(--light_blue);
    border-radius: 5px;
    padding: 30px;
}

.booking {
    display: flex;
    background-color: rgb(209, 209, 209);
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 20px;
}

.booking span {
    padding: 10px;
    text-align: center;
}

.cancel {
    background-color: black;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto 5px;
    color: white;
    cursor: pointer;
}

/* testimonial  */

.carousel-root {
    width: 64%;
    margin: 25px auto;
    margin-top: 3% !important;
}

.carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
}

.carousel .slide img {
    width: 200px;
    border-radius: 50%;
}

.myCarousel {
    background: #fafafa;
    margin-top: -6%;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 300px;
}

.carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

.myCarousel h3 {
    color: #222;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    color: #787878;
    font-size: 14px;
}

.myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #222;
    font-size: 15px;
    font-family: sans-serif;
    max-height: 67px;
}

.myCarousel p:before {
    content: "“";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
}

.myCarousel p:after {
    content: "”";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
    line-height: 0;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #454545 !important;
    outline: 0;
}

.carousel.carousel-slider .control-arrow {
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
    z-index: 1;
}

@media only screen and (max-width: 934px) {
    .carousel-root {
        outline: 0;
        width: 93% !important;
        margin: auto !important;
    }

    .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    .myCarousel {
        background: #fafafa;
        margin-top: -9%;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
        padding-bottom: 12.5%;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid #ddd;
        height: 269px;
    }

    .carousel .slide img {
        width: 24% !important;
        border-radius: 50%;
    }
}

/* our team */

.our-team {
    margin: 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    width: 280px;
    box-shadow: 5px 5px 10px grey;
}

.team-member {
    text-align: center;
}

.title {
    color: grey;
}

.member-email {
    margin: 10px 0;
}

/* contact us  */

.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    margin: 15px 0;
    width: 80%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 5px 5px 15px grey;
}

.contact-form .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form .content .left-side {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: rgb(53, 143, 143);
    margin-bottom: 6px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 3px;
}

.content .left-side .details .text-one {
    font-size: 14px;
    color: #0f0f0f;
}

.content .left-side .details .media-icons a {
    font-size: 15px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    border: 1px solid white;
    margin: 8px 8px 8px 8px;
    transition: all 0.3s ease;
}

.content .left-side .details .media-icons a:hover {
    border-color: rgb(53, 143, 143);
}

.contact-form .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #0a0a0a;
    padding-bottom: 10px;
}

.right-side .input-box {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 80px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(62, 165, 165);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: rgb(53, 143, 143);
}

@media (max-width: 950px) {
    .contact-form {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .contact-form .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .contact-form {
        margin: 40px 0;
        height: 100%;
    }

    .contact-form .content {
        flex-direction: column-reverse;
    }

    .contact-form .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-form .content .left-side::before {
        display: none;
    }

    .contact-form .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* symptom checker */

.diagnosis {
    width: 100%;
    margin: 20px auto;
    width: 90%;
}

.diagnosis-form {
    margin-bottom: 10px;
}

.diagnosis-heading {
    margin: 10px 0;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(212, 210, 210);
    border-radius: 5px;
}

.diagnosis-input {
    padding: 10px 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    margin: 10px 0;
}

.conditions {
    display: flex;
    flex-wrap: wrap;
}

.condition {
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 194, 255);
    border-radius: 8px;
    padding: 15px 25px;
    margin: 10px;
}

.question {
    padding: 5px 10px;
    font-size: 18px;
    margin: 10px 0;
}

.answer-options {
    display: flex;
    flex-wrap: wrap;
}

.diagnosis-ans {
    margin: 5px 25px;
}
