:root {
    --light_blue: rgb(125, 190, 190);
    --dark_blue: rgb(62, 165, 165);
    --solid_blue: rgb(38, 126, 126);
}

/* Header */

header {
    position: sticky;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: var(--dark_blue);
    z-index: 999;
    box-shadow: 0 2px 10px black;
}

.container-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    word-spacing: 10px;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0px 20px;
    /* box-sizing: border-box; */
    margin: 0px 20px;
    padding: 10px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav ul li .link {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.line {
    margin-top: 10px;
    height: 3px;
    width: 0px;
    background-color: white;
    transition: width 0.5s ease-in;
    border-radius: 10px;
}

nav ul li .link:hover + .line,
nav ul .link:focus + .line,
nav ul li .link:active + .line {
    width: 100%;
}

/* nav ul li .link:hover {
    color: black;
} */
.user {
    height: 100%;
    display: flex;
    align-items: center;
}

.logged-in {
    background-color: black;
    border-radius: 8px;
    padding: 10px 15px;
}

/* Utility Classes */

.container {
    width: 90%;
    margin: 0px auto;
}

/* media queries */

@media (max-width: 959px) {
    /* header */

    header {
        height: auto;
        position: unset;
        background-color: black;
    }

    .container-header {
        width: 100%;
        flex-direction: column;
        background-color: var(--dark_blue);
    }

    .logo {
        position: fixed;
        height: 45px;
        width: 100%;
        top: 0px;
        margin: auto;
        background-color: var(--dark_blue);
        text-align: center;
        box-shadow: 0 2px 10px black;
    }

    nav {
        width: 50%;
        margin-top: 50px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        margin: 5px 0px;
        border: 1px solid white;
        padding: unset;
        border-radius: 3px;
        background-color: var(--solid_blue);
        text-align: center;
    }

    nav ul li:hover {
        background-color: black;
    }

    nav ul ul {
        width: 100%;
    }
    
    nav ul li .link {
        /* box-sizing: border-box; */
        padding: 3px;
        width: 100%;
        color: white;
    }

    nav ul li .link:hover {
        /* background-color: black; */
        color: white;
    }

    *:hover + .line,
    .line {
        display: none;
    }
}

/* Login / SignUp */

.account {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 190, 190);
}

.account-form {
    background-color: white;
    border-radius: 5px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 25px;
    padding: 5px;
    height: 35px;
    width: 300px;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: rgb(228, 233, 238);
}

.submit {
    background-color: rgb(62, 165, 165);
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 1000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

/* Categories */

.heading-font {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    word-spacing: 5px;
}

.container_cat {
    width: 90%;
    margin: 20px auto;
    /* border: 1px solid rgba(153, 149, 149, 0.13); */
}

.container-cat {
    justify-content: space-evenly;
    /* padding: 40px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 16px;
}

.cat {
    text-decoration: none;
    color: black;
    box-shadow: 3px 2px 12px black;
    padding: 8px;
    margin: 10px;
    text-align: center;
    font-size: large;
}

.cat:hover {
    box-shadow: 1px 1px 5px black;
}

.cat img {
    margin: 5px;
    height: 120px;
    width: 170px;
}

.Link {
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* Footer  */

footer {
    width: 100%;
    background: var(--dark_blue);
}

footer .content {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
footer .content a {
    color: black;
    font-weight: 600;
    text-align: left;
    line-height: 32px;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
    text-decoration: none;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #111;
    margin: 0 10px 10px 10px;
    transition: all 0.3s ease;
}

footer .content .media-icons a:hover {
    border-color: white;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: white;
}

@media (max-width: 1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width: 950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width: 560px) {
    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }

    footer .content .media-icons a {
        margin: 10px 10px 10px 10px;
    }
}

/* appointment */

.appointment {
    display: flex;
    flex-direction: column;
}

/* docotr's informationa */

.doctor-info {
    margin: 15px;
    width: 80%;
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
    align-self: center;
    padding: 20px;
}

.doctor-name {
    text-align: center;
    color: rgb(80, 142, 192);
    margin: 10px;
}

.doctor-attribute {
    margin: 15px;
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.doctor-attribute span {
    margin: 0 5px;
}

/* slots information */

.loading {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.slots-info {
    width: 95%;
}

.colour-sign {
    margin-left: 20px;
    display: flex;
}

.colour-sign p {
    margin: 10px 30px 10px 5px;
}

.day-info {
    margin: 30px;
}

.date-day {
    background-color: rgb(223, 219, 219);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.slots {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.available {
    background-color: var(--solid_blue);
    cursor: pointer;
}

.unavailable {
    background-color: var(--light_blue);
}

.slot {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.sign {
    height: 25px;
}